* {
    box-sizing: border-box;
  }
  

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #161748;
    overflow-x: hidden;
  }

  /* Side navigation links */
.sidenav a {
    color: white ;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: #161748;
  }
  
  /* Style the content */
  .contentwrapper {
    margin-left: 200px;
    padding-left: 20px;
  }
  
  .content {

  }

  .contentBanner {
   /* display: inline-block; */
   display: flex;

  }

  .bannerFilter {
    margin-bottom: 0;
  }



.righthand {
  float:right;
  margin-top: .25em;
  margin-right: 7em;
}

.righthandSection {
  display: flex; 
  justify-content: flex-end;
}
  
.wish {
  padding-bottom: 20px;
border: 1px solid red;
margin: 5px;
padding-left: .5em;
}

.wish a {
  color: black;

}
.wishTitle {
margin-right: 3em;
}
  .wishatt {
  }

  .capital {
    text-transform: capitalize;
  }

.typicalbutton {
  background: #478559;
  border: 1px solid #478559;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 1em;
  line-height: 16px;
  /* min-height: 40px; */
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.typicalbutton:hover,
.typicalbutton:active {
  background-color: initial;
  background-position: 0 0;
  color: #478559;
}

.typicalbutton:active {
  opacity: .5;
}